body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Tela de Usuário sem leitura cadastrada */
.no-reading-screen {
    text-align: center;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.no-reading-screen p {
    font-size: 18px;
    margin-bottom: 20px;
}

.no-reading-screen button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* O Modal (escondido por padrão) */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica em cima da página */
    z-index: 1; /* Fica na frente de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Habilita rolagem se necessário */
    background-color: rgb(0,0,0); /* Fundo preto */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
}

/* Conteúdo do Modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Pode ser ajustado */
}

/* Botão Fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 10px 0;
}
